<a href="https://colab.research.google.com/github/naveenkumars666/Basics-of-Python-Programming/blob/main/naveen_march.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WEEK 1 DAY 1

In [ ]:
class today:
  pass
obj=today()
print(type(obj))

<class '__main__.today'>

In [ ]:
a=10
b=20
print(a-(-b))  #to add without using + operator to add
print(a.__add__(b))
print(a.__sub__(b))

30
30
-10

In [ ]:
class A:
    def __init__(self,a):
        self.a=a
    #adding 2 numbers
    def __add__(self,o):
        return self.a+o.a
ob1=A(1)
ob2=A(2)
ob3=A("RACE")
ob4=A("World")

print(ob1+ob2)
print(ob3+ob4)

3
RACEWorld

In [ ]:
a=int(input("enter the number= "))
b=int(input("enter the number= "))
c=int(input("enter the operations to be perfom = "))

dic={1:print(a.__add__(b)),2:(a.__sub__(b)),3:(a.__mul__(b)),4:(a.__mod__(b))}
print(dic[c])

DAY 2

In [ ]:
#program to add mulitiply and sub using  
a,b,c=[int(x)for x in input().split()]
dic={1:(a.__add__(b)),2:(a.__sub__(b)),3:(a.__mul__(b)),4:(a.__mod__(b))}
print(dic[c])

INHERITANCE
-Provides code reusability
-use an existing class to create new class
-inherit a base class into the derived class
-inherit all the data fields and methods in base class

syntax

class baseclass:
          body of the base class
class derivedclass(baseclass):
         body of the derived class

In [ ]:
# inheritance ex
class Car:
  def speed(self):
    print("100km")
class Audi(Car):
  def engine(self):
    print("engine is powerful")
c=Audi()
c.speed()
c.engine()

100km
engine is powerful

Types of inheritance:

      1.single inheritance
      2.multiple inheritance
      3.multilevel inheritance
      4.hierarchical inheritance
      5.hybrid inheritance


archived when derived class inherits anoher derived class
                  ->no limit of levels
                  syntax:
                    class c1:
                      <class-suite>
                    class c2(c1):
                      <class-suite>
                    class c3(c2):
                      <class-suite>

In [ ]:
class Car:
  def speed(self):
    print("100km")
class Audi(Car):
  def engine(self):
    print("engine is powerful")
class Lambo(Audi):
  def black(self):
    print("excellent car")
c=Lambo()
c.speed()
c.engine()
c.black()

100km
engine is powerful
excellent car

multiple Inheritance

                 Syntax:
                    class Base1:
                      <class-suite>
                    class Base2:
                      <class-suite>
                    class Base3:
                      <class-suite>
                    class Derived(Base1,Base2,...BaseN):
                    <class-suite>
can have muliple base class

In [ ]:
class Animal1:
  def __init__(self):
    self.str1="dog"
    print("Animal1")
class Animal2:
  def __init__(self):
    self.str2="cat"
    print("Animal2")
class Ani(Animal1,Animal2):
  def __init__(self):
    Animal1.__init__(self)
    Animal2.__init__(self)
    print("Ani")
  def printStrs(self):
    print(self.str1,self.str2)
a=Ani()
a.printStrs()

Animal1
Animal2
Ani
dog cat

In [ ]:
class Parent:
  def fun1(self):
    print("first")

class New:    
  def fun1(self):
    
    print("second")

o=New()
o.fun1()  # only prints second

second

WEEK 2 DAY 1

In [ ]:
#iteratble
a=[1,2,3,4,5]
for i in a:
    print(i)
print(a)

In [3]:
a=[1,2,3,4,5]
z=iter(a)

In [4]:
try:
    print(next(z))
    
except StopIteration:
    print("Stop")

1

generator->another method to create iterators using "yield" instead of returning it in defined function

In [5]:
def sq(n):
    for i in range(1,n+1):
        yield i*i
        
a=sq(3)
print("square:")
print(next(a))
print(next(a))

square:
1
4